html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit

}

a {
  color: inherit;
  text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer
}

ul {

    list-style: none;
   
}

body {

    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #000;

}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;

}   

.header {
    min-height: 100vh;
    position: relative;
}

.header__top {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 40px 0
}

.menu__list {
    display:flex;
    align-items: center;
    gap: 0 40px;
    font-weight: 700;

}

.menu__btn {
    padding: 15px 58px;
    border-radius: 30px;
    background-color: #000;
    font-weight: 700;
    color:#FFFFFF;
    text-transform: uppercase;

    /* font-size: 16px;
    font-style: normal;
    line-height: normal;
    font-family: Inter; */
}

.header__content-images {
    text-align: center;
    padding-bottom: 50px;
}

.header__content-images::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    z-index: -2;
    /* height: 100vh; */
    width: 100%;
    /* background: linear-gradient(-180deg , rgba(202,219,235,1) 0%, rgba(234.81,234.81,234.81,0) 100%); */

}


.header__content-images:has(.color--blue.content-item__active)::before {
    background: linear-gradient(180deg, #CADBEB 0%, rgba(235, 235, 235, 0.00) 100%);
}

.header__content-images:has(.color--red.content-item__active)::before {
    background: linear-gradient(180deg, #F3D6D1 0%, rgba(235, 235, 235, 0.00) 100%);

}

.header__content-images:has(.color--green.content-item__active)::before {
    background: linear-gradient(180deg, #DDEAD9 0%, rgba(235, 235, 235, 0.00) 100%);

}

.header__content-images:has(.color--black.content-item__active)::before {
    background: linear-gradient(180deg, #B6B6B6 0%, rgba(235, 235, 235, 0.00) 100%);
}

.header__content-images:has(.color--white.content-item__active)::before {
    background: linear-gradient(180deg, #FAFAFA 0%, rgba(235, 235, 235, 0.00) 100%);

}

.title {
    font-size: 210px;
    font-weight: 700;
    position: absolute;
}

.title--air {
    display: inline-block;
    transform: translate(-23px,-32px);
}

.title--pod {
    position: relative;
    transform: translate(-4px,-6px);
    z-index: -1;

}

.title .title--pod.move {
    position: absolute;
    transform: translate(-2px, -31px);
}

.title--s {
    /* position: absolute; */
    display: inline-block;
    /* transform: translate(414px,31px); */
    transform: translate(406px,31px);
}

.title--m {
    display: inline-block;
    /* transform: translate(343px, 252px); */
    transform: translate(340px, 252px);
}

.title--ax {
    display: inline-block;
    /* transform: translate(274px, 378px); */
    transform: translate(263px, 378px);
    position: absolute;
    z-index: -1;
}

.main {


}

.choose-color {
    padding: 46px 0 180px;
    text-align: center;

}

.container {

}

.choose-color__title {

    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    margin: 0 auto 20px;
    /* line-height: 120%; /* 43.2px */
    /* color: #000;
    font-family: Inter; */ */

}

.choose-color__text {
    max-width: 555px;
    margin: 0 auto 80px

}

.choose-color__list {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
   
}

.choose__color-btn {
    border-radius: 20px;
    border: 1px solid #777;
    padding: 50px 55px; 
    
}

/* .choose-color__btn. */

.choose__color-btn--active {
    display: none;
}

.composition {
    margin-bottom: 181px;

}

.composition__title {
    text-align: center;

}

.composition__text {

    text-align: center;
    max-width: 655px;
    margin: 0 auto 40px;

}

.main__title {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;

}

.content-item {
    display: none;

}

.content-item.content-item__active {
    display:inline-block;

} 

.composition__inner {
    max-width: 625px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.composition__inner-text {
    display: flex;
     /* change X и Y */
    /* flex-direction: column; 
    justify-content: space-between;
    gap: 15px */
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;

}


.composition__inner-text p {
    width: 230px;
    /* height: 76px; */

}

.case {
    background-color: #FAFAFA;
    padding: 80px auto 98px;
    text-align: center;
}

.case__text {
    max-width: 825px;
    margin: 0 auto 40px;
}

.energy__title {
    padding-top: 80px;

}

.energy__num {

    font-size: 210px;
    font-weight: 700;
    padding-top: 40px;
    margin: 0 auto;
    /* font-style: normal; */
    /* line-height: 120%; 252px */

}

.energy__text {
    
    /* text-align: center; */
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 98px;
    max-width: 403px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

}


.audio {
    position: relative;
    /* background-image: url(../images/audio-full.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */
}

.audio::before {
    content: '';
    background-image: url(../images/audio_fon.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;

}

.audio::after {
    content: '';
    position: absolute;
    background-image: url(../images/sound.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    bottom: -176px;
    width: 100%;
    height: 150vh;
    left: 0;
    right: 0;
    z-index: -1; 
    
}

.audio__inner {
    min-height: 200vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.audio__box {
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 30vh;
    /* padding-bottom: 50vh; */

}

.audio__text {
    width: 300px;
    /* text-align: center;  */
    margin-bottom: 10px;

}


.btn {
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    background-color: #fff;
    padding: 15px 58px;
    margin-top: 25px;
    border-radius: 30px;
    /* border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    cursor: pointer;
    

}


.footer {
    color: #fff;
    text-align: center;
    position: relative;
    z-index: -2;
    padding: 250px 0 40px;
    background-color: #000000;
    font-weight: 700;

}



.footer__text {
    padding: 20px 0;
    
}


.footer__list {
    padding-top: 80px;
    /* padding-bottom: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 0 20px; */
    gap: 20px;
    flex-wrap: wrap;
   
}


/* media */


/* @media (max-width: 1200px) { */

@media (max-width: 1469px) { 

    .header__content-images img {
        max-width: 100%;
    }


    .choose-color__list { 
        flex-wrap: wrap;
    }

    .title {
        font-size: 180px;
        text-align: center;
        /* transform: translateX(0px); */
        
    }

    .title--air {
        display: inline-block;
        transform: translate(41px,-32px);
    }
    

    .title .title--pod.move {
        position: absolute;
        transform: translate(71px, -22px);
    }

    .title--m {
        display: inline-block;
        /* transform: translate(343px, 252px); */
        transform: translate(488px, 312px);
        transform: translate(540px, 291px);
    }

    .title--s {
        position: absolute;
        display: inline-block;
        /* transform: translate(414px,31px); */
        transform: translate(446px, 55px);
    }

    .title--ax {
            display: inline-block;
            /* transform: translate(274px, 378px); */
            transform: translate(484px, 411px);
            position: absolute;
            z-index: -1;
    }

}


@media (max-width: 1349px) { 

    .header__top {
        max-width: 1100px;
    }

    .title {
        display: block;
        position: absolute; 
        gap: 20px;
        font-size: 160px;
        padding-top: 30vh;
        left: 0;
        right: 0;
        text-align: center;
    }

    .title--air {
        /* transform: none; */
        /* transform: translate(-334px, -242px); */
        transform: translate(-274px, -211px);

        }
        
    .title .title--pod.move {
        /* transform: none; */
        position: absolute;
        /* transform: translate(-310px, -237px); */
        transform: translate(-274px, -211px);

        }

    .title--s {
        /* transform: none; */
        /* transform: translate(72px, 12px); */
        transform: translate(73px, -104px);
        /* transform: translate(69px, -150px); */

    }

    .title--m {
        /* transform: none; */
        /* transform: translate(164px, 235px); */
        transform: translate(164px, 101px)
        /* transform: translate(164px, 59px); */
    }

    .title--ax {
        /* transform: none; */
        transform: translate(-194px, 223px);
        position: absolute;
        z-index: -1;
    }
        
}


@media (max-width: 930px) { 

    .title {
       position: relative;
       font-size: 60px;
       padding-top: 0;
        
    }

    .title--air {
        /* transform: none; */
        transform: translate(-110px,-33px);
    }

    .title .title--pod.move {
        /* transform: none; */
        transform: translate(-103px,-33px);
    }

    .title--s {
        /* transform: none; */
        transform: translate(12px,-31px);
    }

    .title--m {
        /* transform: none; */
        transform: translate(56px,-31px);
    }

    .title--ax {
        /* transform: none; */
        transform: translate(60px,-31px);
    }

}


@media (max-width: 768px) {

    .choose-color {
        padding-bottom: 60px;
    }

    .choose-color_list {
        gap: 16px;
    }

    .main__title {
        font-size: 36px;
    }

    .composition {
        margin-bottom: 60px;
    }

    .case {
        padding: 60px 0;
    }

    .energy__title {
        padding-top: 60px;
        margin-bottom: 20px;
    }

    .energy__num {
        padding-top: 60px;
        margin-bottom: 20px;
    }

    .energy__num {
        font-size: 110px;
    }

    .title {
        font-size: 58px;
    }

    /* .footer__list {

    } */

}


@media (max-width: 580px) {

    .choose-color__text {
        margin-bottom: 40px;
    }

    .choose-color {
        padding-bottom: 40px;
    }

    .case {
        padding: 40px 0;
    }

    .composition__inner-text p {
        width: 100%;
    }

    .composition__inner {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }

    .menu__list {
        flex-wrap: wrap;
        gap: 20px 40px;  
    }

    .menu__item-btn {
        margin-left: auto;
    }

    .menu__item-btn button {
        width: 250px;
    }

    .menu__item:first-child {
        margin-left: auto;
        
    }

    .header__top {
        align-items: flex-start;
    }

}

@media (max-width: 465px) {

    .footer__list {
        padding-top: 60px;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
        gap: 20px;
    }

    .title--air {
        /* transform: translate(-125px,-33px); */
        transform: translate(-117px,-33px);
        /* transform: translate(-115px,-35px) */
    }

    .title .title--pod.move {
        /* transform: translate(-120px,-33px); */
        transform: translate(-108px,-33px);
        /* transform: translate(-111px,-34px); */
        
    }

    .title--s {
        /* transform: translate(-8px,-31px); */
        transform: translate(-1px,-31px);
        /* transform: translate(-12px,-33px); */
    }

    .title--m {
        transform: translate(36px,-31px);
        /* transform: translate(27px,-33px); */
    }

    .title--ax {
        transform: translate(38px,-31px);
        /* transform: translate(29px,-33px); */
    }
 
}


@media (max-width: 414px) {

    .main__title, 
    .choose-color__title {
        font-size: 28px;
    }

    .energy__num {
        font-size: 92px;
    }
    
     /* картинка будет меняться (больше или меньше) в размерах, при изменении ширины */
    .case img {
        max-width: 100%; 
    }

}


@media (max-width: 404px) {

    .footer__list {
        padding-top: 60px;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
        gap: 20px;
    }

    .title {
        font-size: 50px;
    }

    .title--air {
        transform: translate(-105px,-33px);
    }

    .title .title--pod.move {
        transform: translate(-102px,-33px);
    }

    .title--s {
        transform: translate(-4px,-31px);
    }

    .title--m {
        transform: translate(31px,-31px);
    }

    .title--ax {
        transform: translate(31px,-31px);
    }

}











 


















 






